.signature {
    min-height: 24px;
}

.card-text {
    position: absolute;
    bottom: 16px;
}

.albums .card {
    color: black;
}


.albums .card:hover {
    outline: 4px solid #ffdb4d;
}

